@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");

/*------  
# Root
-----*/

:root {
  --verde-clarito: #a0cc04;
  --azul: #193c4d;
  --azul-clarito: #5591c8;
  --gris: #888887;
  --naranja: #d2a25f;
  --gris-clarito: #c4c4c433;
}

  body{
    overflow: hidden
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden
  
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

span.deco {
  padding-left: 14px;
}

span.bold {
  font-weight: 600;
}

span.deco.azul {
  border-bottom: 2px solid var(--azul);
}

span.deco.verde {
  border-bottom: 2px solid var(--verde-clarito);
}









/*---------------- 
# Footer
----------------*/

footer {
    background-color: var(--azul);
  }
  footer div.texto-footer {
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    color: #fcfdfc;
  }
  footer div.texto-footer p {
    padding: 10px 0px;
    margin: 0;
  }
  footer div.texto-footer p:last-child {
    margin: 0;
  }
