@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");

/*------  
# Root
-----*/

:root {
  --verde-clarito: #a0cc04;
  --azul: #193c4d;
  --azul-clarito: #5591c8;
  --gris: #888887;
  --naranja: #d2a25f;
  --gris-clarito: #c4c4c433;
}

body {
  overflow: hidden;
  font-family: "Titillium Web", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

span.bold {
  font-weight: 600;
}

span.deco.azul {
  border-bottom: 2px solid var(--azul);
}

span.deco.verde {
  border-bottom: 2px solid var(--verde-clarito);
}

li {
  list-style-type: none;
}
ul {
  margin: 0;
}

div.fondo-azul {
  background-color: var(--azul);
  color: white;
}

div.imagen-trans {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #464646;
  height: 30vh;
}

div.imagen-trans.uno {
  background-image: url(../images/sub/1.Ingenieria/2.jpg);
}

@supports (-webkit-overflow-scrolling: touch) {
  div.imagen-trans {
    background-attachment: scroll;
  }

  div.imagen-trans.uno {
    background-image: url(../images/sub/1.Ingenieria/ios/2.jpg);
  }
}

div.imagen-trans.dos {
  background-image: url(../images/sub/1.Ingenieria/3.jpg);
}
div.imagen-trans.tres {
  background-image: url(../images/sub/1.Ingenieria/4.jpg);
}
div.imagen-trans.cuatro {
  background-image: url(../images/sub/1.Ingenieria/5.jpg);
}
div.imagen-trans.cinco {
  background-image: url(../images/sub/1.Ingenieria/6.jpg);
}

div.servicio {
  padding: 2.5vh 0 3.5vh 0;
}

div.titulo-seccion {
  margin-bottom: 1.5vh;
}
div.titulo-seccion-derecha {
  margin-bottom: 1.5vh;
}

div.titulo-seccion h3 {
  margin-bottom: calc(
    2.5vh - 5px
  ); /* 5px es la distancia de padding que separa el texto de la linea */
  font-size: 17px;
}

div.titulo-seccion-derecha h3 {
  text-align: right;
  font-size: 17px;
}

div.titulo-seccion-derecha h3 span.deco {
  padding-right: 14px;
}

/*-------------
# Media Queries Generales
-------------*/
@media screen and (min-width: 768px) {
  div.titulo-seccion h3 {
    margin-bottom: calc(
      3.5vh - 5px
    ); /* 5px es la distancia de padding que separa el texto de la linea */
    font-size: 24px;
  }

  div.titulo-seccion-derecha h3 {
    font-size: 24px;
  }
}

@media screen and (min-width: 992px) {
  div.titulo-seccion h3 {
    font-size: 30px;
  }

  div.titulo-seccion-derecha h3 {
    font-size: 30px;
  }
}

/*-------------
# Header
-------------*/
#header {
  background: #ffffff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  width: 13vh;
  min-width: 100px;
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  #header div.navbar div#logo a img {
    width: 15vh;
  }
}

@media screen and (min-width: 992px) {
  #header div.navbar div#logo a img {
    width: 17vh;
  }
}
/*----------------
# Navigation Menu
  ----------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Meu Container */
#nav-menu-container {
}

@media (min-width: 768px) {
  #nav-menu-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 0;
  }

  #nav-menu-container button {
    display: none;
  }
  #nav-menu-container ul {
    display: block;
  }
}

@media (max-width: 768px) {
  #nav-menu-container ul {
    display: none;
  }
  #nav-menu-container button {
    display: block;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px 0px 8px 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #555;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 18px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
  color: #021f42;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 14px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #021f42;
}

.nav-menu ul ul {
  margin: 0;
}


@media screen and (min-width:992px){
  .nav-menu a {
    padding: 8px;
  }
}
/*-----------------
# Sidebar
-----------------*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--verde-clarito);

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.8;
}

.sidebar a {
  padding: 8px 8px 16px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  text-shadow: 0px 3px 3px var(--azul);
  line-height: 20px;
  text-align: right;
}

.sidebar a:hover {
  color: var(--azul);
  text-shadow: none;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}

button.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: var(--verde-clarito);
  border: 1px solid var(--verde-clarito);
  background-color: #ffffff;
  padding: 0px 9px;
}

.openbtn:hover {
  color: var(--verde-clarito);
}

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/*-------
# Home
------*/

div.main-image {
  width: 100%;
  height: 30vh;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/sub/1.Ingenieria/1.jpg);
  /* background-attachment: fixed; */
}

/*---------- 
# Media queries Home
---------*/

@media screen and (min-width: 550px) {
  div.main-image {
    height: 60vh;
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  div.main-image {
    height: 65vh;
  }
}
@media screen and (min-width: 1200px) {
  div.main-image {
    height: 75vh;
  }
}

/*----------- 
-#Texto Servicios
-----------*/
div.texto-servicio-derecha {
}

div.texto-servicio-derecha ul li {
  display: flex;
}

div.texto-servicio-derecha ul li p {
  font-size: 14px;
  line-height: 23px;
  text-align: left;
  margin: 0;
}

div.texto-servicio-derecha ul li img.flechita {
  width: 14px;
  margin-right: 3vw;
  display: flex;
  align-self: flex-start;
  margin-top: 5px;
  margin-right: 3px;
}

div.texto-servicio-izquierda {
}

div.texto-servicio-izquierda ul li {
  display: flex;
  justify-content: flex-end;
}

div.texto-servicio-izquierda ul li p {
  font-size: 14px;
  line-height: 23px;
  text-align: right;
  margin: 0;
}

div.texto-servicio-izquierda ul li img.flechita {
  width: 14px;
  margin-left: 3vw;
  display: flex;
  align-self: flex-start;
  margin-top: 5px;
  margin-right: 3px;
}

/*-------------
# Media Queries Texto
-------------*/
@media screen and (min-width: 768px) {
  div.texto-servicio-derecha ul li p {
    font-size: 17px;
    line-height: 27px;
  }
  div.texto-servicio-izquierda ul li p {
    font-size: 17px;
    line-height: 27px;
  }
  div.texto-servicio-derecha ul li img.flechita {
    margin-top: 7px;
    width: 17px;
  }
  div.texto-servicio-izquierda ul li img.flechita {
    margin-top: 7px;
    width: 17px;
  }
}

@media screen and (min-width: 992px) {
  div.texto-servicio-derecha ul li p {
    font-size: 21px;
    line-height: 35px;
  }
  div.texto-servicio-izquierda ul li p {
    font-size: 21px;
    line-height: 35px;
  }
  div.texto-servicio-derecha ul li img.flechita {
    margin-top: 10px;
    width: 21px;
  }
  div.texto-servicio-izquierda ul li img.flechita {
    margin-top: 10px;
    width: 21px;
  }
}

div.titulo-seccion-derecha h3.seccion-verde,
div.titulo-seccion h3.seccion-verde {
  border-bottom: 2px solid var(--verde-clarito);
  position: relative;
  padding-bottom: 5px;
}

div.titulo-seccion-derecha h3.seccion-verde::after,
div.titulo-seccion h3.seccion-verde::after {
  content: " ";
  position: absolute;
  width: 2000px; /* any really large number */
  height: 2px; /* same height as border */
  background: white; /* to cover the border */
  top: 100%;
}

div.servicio.fondo-azul div.titulo-seccion-derecha h3.seccion-verde::after,
div.servicio.fondo-azul div.titulo-seccion h3.seccion-verde::after {
  background: var(--azul); /* to cover the border */
}

/*---------------- 
# Linitas
----------------*/

/* Seguridad e Higiene Laboral */
div.seguridad div.titulo-seccion h3.seccion-verde::after {
  left: 19.5ch;
}

/* Servicios a Aseguradoras de Riesgo del Trabajo (ART) */
div.art div.titulo-seccion-derecha h3.seccion-verde::after {
  right: 14.5ch;
}

/* Ensayos de Rutina y de Extensión de Vida Útil para Recipientes a Presión con y sin fuego */
div.rutina div.titulo-seccion h3.seccion-verde::after {
  left: 14.5ch;
}

/* Auditorias de Seguridad y Ambientales de Instalaciones de Almacenamiento de Hidrocarburos */
div.auditoria div.titulo-seccion-derecha h3.seccion-verde::after {
  right: 26.5ch;
}

/* Dirección Técnica en Talleres de Reparación y Modificación de Vehículos de Pasajeros y Carga de Jurisdicción Nacional según Ley 24.449 de Tránsito y Seguridad Vial */
div.direc div.titulo-seccion h3.seccion-verde::after {
  left: 24.5ch;
}
/* Proyectos y planos electromecánicos */
div.planos div.titulo-seccion-derecha h3.seccion-verde::after {
  right: 23.5ch;
} /* Proyectos en HVAC (Aire Acondicionado, Calefacción, Ventilación y Refrigeración) */
div.aire div.titulo-seccion h3.seccion-verde::after {
  left: 21.5ch;
} /* Proyectos de Energía Solar */
div.solar div.titulo-seccion-derecha h3.seccion-verde::after {
  right: 21.5ch;
}

/*---------------- 
# Media Queries Linitas
----------------*/

@media screen and (min-width: 768px) {
  /* Seguridad e Higiene Laboral */
  div.seguridad div.titulo-seccion h3.seccion-verde::after {
    left: 19.5ch;
  }

  /* Servicios a Aseguradoras de Riesgo del Trabajo (ART) */
  div.art div.titulo-seccion-derecha h3.seccion-verde::after {
    right: 35.5ch;
  }

  /* Ensayos de Rutina y de Extensión de Vida Útil para Recipientes a Presión con y sin fuego */
  div.rutina div.titulo-seccion h3.seccion-verde::after {
    left: 19.5ch;
  }

  /* Auditorias de Seguridad y Ambientales de Instalaciones de Almacenamiento de Hidrocarburos */
  div.auditoria div.titulo-seccion-derecha h3.seccion-verde::after {
    right: 26.5ch;
  }

  /* Dirección Técnica en Talleres de Reparación y Modificación de Vehículos de Pasajeros y Carga de Jurisdicción Nacional según Ley 24.449 de Tránsito y Seguridad Vial */
  div.direc div.titulo-seccion h3.seccion-verde::after {
    left: 28.5ch;
  }
  /* Proyectos y planos electromecánicos */
  div.planos div.titulo-seccion-derecha h3.seccion-verde::after {
    right: 23.5ch;
  } /* Proyectos en HVAC (Aire Acondicionado, Calefacción, Ventilación y Refrigeración) */
  div.aire div.titulo-seccion h3.seccion-verde::after {
    left: 17.5ch;
  } /* Proyectos de Energía Solar */
  div.solar div.titulo-seccion-derecha h3.seccion-verde::after {
    right: 21.5ch;
  }
}

/*---------------- 
# NavFooter
----------------*/

div.navfooter {
  padding-left: 10px;
}

div.navfooter div.logo {
}
div.navfooter div.logo img {
  width: 25vh;
  max-width: 200px;
  min-width: 150px;
}

div.navfooter div.menu {
  border-left: 3px solid var(--verde-clarito);
  padding-left: 10px;
  margin: 2.5vh 0;
}
div.navfooter div.contacto {
  border-left: 3px solid var(--verde-clarito);
  padding-left: 10px;
  margin: 2.5vh 0;
  max-width: 262px;
}

div.navfooter div.menu h5,
div.navfooter div.contacto h5 {
  font-weight: 600;
  font-size: 16px;
}
div.navfooter div.menu p,
div.navfooter div.contacto p {
  margin: 0;
}
div.navfooter div.menu p a,
div.navfooter div.contacto p a {
}

/*---------------- 
# Media Queries NavFooter
----------------*/

@media screen and (min-width: 768px) {
  div.navfooter {
    padding-left: 0;
  }
}

@media screen and (min-width: 992px) {
  div.navfooter div.contacto h5,
  div.navfooter div.menu h5 {
    font-size: 20px;
  }
  div.navfooter div.contacto p,
  div.navfooter div.menu p {
    font-size: 18px;
  }
}

/*---------------- 
# Footer
----------------*/

footer {
  background-color: var(--azul);
}
footer div.texto-footer {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #fcfdfc;
}
footer div.texto-footer p {
  padding-top: 7px;
  margin: 0;
}
footer div.texto-footer p:last-child {
  padding-top: 7px;
  padding-bottom: 3px;
}

@media screen and (min-width: 992px) {
  footer div.texto-footer p {
    padding-top: 10px;
    margin: 0;
  }
  footer div.texto-footer p:last-child {
    padding: 0;
    padding-bottom: 3px;
  }
}
