@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;500;600;700&display=swap");

/*------  
# Root
-----*/

:root {
  --verde-clarito: #a0cc04;
  --azul: #193c4d;
  --azul-clarito: #5591c8;
  --gris: #888887;
  --naranja: #d2a25f;
  --gris-clarito: #c4c4c433;
  --fondo-verde: #add23d;
}

body {
  overflow: hidden;
  font-family: "Titillium Web", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

span.bold {
  font-weight: 600;
}

li {
  list-style-type: none;
}
ul {
  margin: 0;
}

div.servicio h3 {
  color: var(--naranja);
}

div.fondo-naranja {
  background-color: var(--naranja);
  color: white;
}

div.servicio.fondo-naranja h3 {
  color: white;
}

div.imagen-trans {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 20vh;
}

div.imagen-trans.uno {
  background-image: url(../images/sub/4.Laboratorio/2.jpg);
}
div.imagen-trans.dos {
  background-image: url(../images/sub/4.Laboratorio/3.jpg);
}
div.imagen-trans.tres {
  background-image: url(../images/sub/4.Laboratorio/4.jpg);
}

div.servicio {
  padding: 2.5vh 0;
}

div.titulo-seccion {
  margin-bottom: 1.5vh;
}
div.titulo-seccion-derecha {
  margin-bottom: 1.5vh;
}

div.titulo-seccion h3 {
  margin-bottom: 2.5vh;
  font-size: 18px;
}

div.titulo-seccion-derecha h3 {
  text-align: right;
  font-size: 18px;
}

div.titulo-seccion-derecha h3 span.deco {
  padding-right: 14px;
}

/*-------------
# Media Queries Generales
-------------*/
@media screen and (min-width: 768px) {
  div.titulo-seccion h3 {
    margin-bottom: 3.5vh;
    font-size: 28px;
  }

  div.titulo-seccion-derecha h3 {
    text-align: right;
    font-size: 28px;
  }

  div.servicio {
    padding: 3.5vh 0;
  }
}

@media screen and (min-width: 992px) {
  div.titulo-seccion h3 {
    margin-bottom: 3.5vh;
    font-size: 35px;
  }

  div.titulo-seccion-derecha h3 {
    text-align: right;
    font-size: 35px;
  }

  div.servicio {
    padding: 3.5vh 0;
  }
}

/*-------------
# Header
-------------*/
#header {
  background: #ffffff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  width: 10vh;
  min-width: 100px;
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  #header div.navbar div#logo a img {
    width: 15vh;
  }
}

@media screen and (min-width: 992px) {
  #header div.navbar div#logo a img {
    width: 17vh;
  }
}
/*----------------
# Navigation Menu
  ----------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Meu Container */
#nav-menu-container {
}

@media (min-width: 767px) {
  #nav-menu-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 0;
  }
  #nav-menu-container button {
    display: none;
  }
}

@media (max-width: 767px) {
  #nav-menu-container ul {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #555;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 18px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
  color: #021f42;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 14px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #021f42;
}

.nav-menu ul ul {
  margin: 0;
}

/*-----------------
# Sidebar
-----------------*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a0cc04bf;

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.8;
}

.sidebar a {
  padding: 8px 8px 16px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #fdfdfc;
  display: block;
  transition: 0.3s;
  text-shadow: 0px 3px 3px var(--azul);
  line-height: 20px;
  text-align: right;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}

button.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: var(--verde-clarito);
  border: 1px solid var(--verde-clarito);
  background-color: #ffffff;
  padding: 0px 9px;
}

.openbtn:hover {
  color: var(--verde-clarito);
}

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/*-------
# Home
------*/

div.main-image {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-image: url(../images/sub/4.Laboratorio/1.jpg);
  /* background-attachment: fixed; */
}

/*---------- 
# Media queries Home
---------*/

@media screen and (min-width: 550px) {
  div.main-image {
    height: 60vh;
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  div.main-image {
    height: 65vh;
  }
}
@media screen and (min-width: 1200px) {
  div.main-image {
    height: 75vh;
  }
}


/*---------------
 - TITULO REDONDEADO 
------------------*/


div.titulo-redondeado{
  background-color: var(--azul);
  border-radius: 25px;
  max-width: 340px;
}

div.titulo-redondeado h3{
  padding: 10px;
  font-size: 20px;
}

@media screen and (min-width: 550px) {
  div.titulo-redondeado{
    max-width: 500px;
  }
}


/*----------- 
-#Texto Servicios
-----------*/
div.texto-servicio-derecha {
}

div.texto-servicio-derecha ul li {
  display: flex;
}

div.texto-servicio-derecha ul li p {
  font-size: 14px;
  line-height: 23px;
  text-align: left;
  margin: 0;
}

div.texto-servicio-derecha ul li img.flechita {
  width: 14px;
  margin-right: 3vw;
  display: flex;
  align-self: flex-start;
  margin-top: 5px;
}

div.texto-servicio-izquierda {
}

div.texto-servicio-izquierda ul li {
  display: flex;
  justify-content: flex-end;
}

div.texto-servicio-izquierda ul li p {
  font-size: 14px;
  line-height: 23px;
  text-align: right;
  margin: 0;
}

div.texto-servicio-izquierda ul li img.flechita {
  width: 14px;
  margin-left: 3vw;
  display: flex;
  align-self: flex-start;
  margin-top: 5px;
}

/*-------------
# Media Queries Texto
-------------*/
@media screen and (min-width: 768px) {
  div.texto-servicio-derecha ul li p {
    font-size: 17px;
    line-height: 27px;
  }
  div.texto-servicio-izquierda ul li p {
    font-size: 17px;
    line-height: 27px;
  }
  div.texto-servicio-derecha ul li img.flechita {
    margin-top: 7px;
    width: 17px;
  }
  div.texto-servicio-izquierda ul li img.flechita {
    margin-top: 7px;
    width: 17px;
  }
}

@media screen and (min-width: 992px) {
  div.texto-servicio-derecha ul li p {
    font-size: 21px;
    line-height: 35px;
  }
  div.texto-servicio-izquierda ul li p {
    font-size: 21px;
    line-height: 35px;
  }
  div.texto-servicio-derecha ul li img.flechita {
    margin-top: 10px;
    width: 21px;
  }
  div.texto-servicio-izquierda ul li img.flechita {
    margin-top: 10px;
    width: 21px;
  }
}

div.titulo-seccion-derecha h3.seccion-azul,
div.titulo-seccion h3.seccion-azul {
  border-bottom: 2px solid var(--azul);
  position: relative;
  padding-bottom: 5px;
}

div.titulo-seccion-derecha h3.seccion-azul::after,
div.titulo-seccion h3.seccion-azul::after {
  content: " ";
  position: absolute;
  width: 2000px; /* any really large number */
  height: 2px; /* same height as border */
  background: white; /* to cover the border */
  top: 100%;
}

div.servicio.fondo-naranja div.titulo-seccion-derecha h3.seccion-azul::after,
div.servicio.fondo-naranja div.titulo-seccion h3.seccion-azul::after {
  background: var(--naranja); /* to cover the border */
}


/* Ruidos */
div.ruidos div.titulo-seccion-derecha h3.seccion-azul::after {
  right: 50%;
}

/* Vibraciones */
div.vibraciones div.titulo-seccion-derecha h3.seccion-azul::after {
  right: 54%;
}

/* Estrés Térmico */
div.estres div.titulo-seccion h3.seccion-azul::after {
  left: 50%;
}

/* Contaminantes */
div.contaminantes div.titulo-seccion-derecha h3.seccion-azul::after {
  right: 50%;
}

/* Niveles de Iluminación */
div.iluminacion div.titulo-seccion h3.seccion-azul::after {
  left: 40%;
}

/* Ventilación Industrial. */
div.ventilacion div.titulo-seccion-derecha h3.seccion-azul::after {
  right: 60%;
}

/* Mediciones de Resistividad de Puestas a Tierra. */
div.mediciones div.titulo-seccion h3.seccion-azul::after {
  left: 40%;
}

/*---------------- 
# NavFooter
----------------*/

div.navfooter {
}

div.navfooter div.logo {
}
div.navfooter div.logo img {
  width: 25vh;
  max-width: 200px;
  min-width: 150px;
}

div.navfooter div.menu {
  border-left: 3px solid var(--verde-clarito);
  padding-left: 10px;
  margin: 2.5vh 0;
}
div.navfooter div.menu h5 {
  font-weight: 600;
  font-size: 16px;
}
div.navfooter div.menu p {
  margin: 0;
}
div.navfooter div.menu p a {
}

div.navfooter div.contacto {
  border-left: 3px solid var(--verde-clarito);
  padding-left: 10px;
}
div.navfooter div.contacto h5 {
  font-weight: 600;
  font-size: 16px;
}
div.navfooter div.contacto p {
  margin: 0;
}
div.navfooter div.contacto p a {
}

div.navfooter {
}
div.navfooter {
}

/*---------------- 
# Footer
----------------*/

footer {
  background-color: var(--azul);
}
footer div.texto-footer {
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  color: #fcfdfc;
}
footer div.texto-footer p {
  padding: 10px 0px;
  margin: 0;
}
footer div.texto-footer p:last-child {
  margin: 0;
}
