@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

span.deco {
  padding-left: 14px;
}

span.bold {
  font-weight: 600;
}

/*-------------
# Header
-------------*/
#header {
  background: #ffffff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  width: 10vh;
}

/*----------------
# Navigation Menu
  ----------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Meu Container */
#nav-menu-container {
}
@media (min-width: 768px) {
  #nav-menu-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 0;
  }
}

@media (min-width: 768px) {
  #nav-menu-container button {
    display: none;
  }
}

@media (max-width: 767px) {
  #nav-menu-container ul {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #555;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 18px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
  color: #021f42;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 14px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #021f42;
}

.nav-menu ul ul {
  margin: 0;
}

div.navbar-tablet-desktop {
  display: none;
}

@media screen and (min-width: 550px) {
  div.navbar {
    display: none;
  }

  div.navbar-tablet-desktop {
    display: block;
  }

  header.header#header div.navbar-tablet-desktop #nav-menu-container\ mobile {
    position: absolute;
    top: calc(2vh + 10vh/2 - 1.5vh*2);
    right: 4vh;
  }

  div.navbar-tablet-desktop nav#nav-menu-container ul.nav-menu {
    display: flex;
  }
  div.navbar-tablet-desktop nav#nav-menu-container ul.nav-menu li a{
  }

  div.navbar-tablet-desktop div#logo {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2vh;
    left: 4vh;
  }
  div.navbar-tablet-desktop div#logo a {
  }

  #header div.navbar-tablet-desktop div#logo a img {
    padding: 1.5vh;
  }
}

/*-----------------
# Sidebar
-----------------*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(160, 204, 4, 0.74);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.8;
}

.sidebar a {
  padding: 8px 8px 16px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fdfdfc;
  display: block;
  transition: 0.3s;
  text-shadow: 0px 3px 3px #193c4d;
  line-height: 20px;
  text-align: right;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: #a0cc04;
  border: 1px solid #a0cc04;
  background-color: #ffffff;
  padding: 0px 9px;
}

.openbtn:hover {
  color: #a0cc04;
}

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/*-------
# Home
  ------*/

div.main-image img {
  width: 100%;
  max-height: 75vh;
}

div.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 11px;
}

div.home .vector-inicio img {
  margin: 0;
  width: 50vw;
  margin: 0.5vh calc(25vw - 16px) 0.5vh calc(25vw - 16px);
}
div.home div.texto-inicial p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(100, 100, 100, 1);
}

div.home div.texto-inicial p:first-child {
  margin-bottom: 0.5vh;
}

/*---------- 
# Quienes Somos
---------*/
div.quienes-somos {
  background-color: rgba(196, 196, 196, 0.2);
}
div.titulo-seccion {
  margin-bottom: 2.5vh;
  font-size: 25;
  line-height: 38;
}

h3.seccion-verde {
  color: #a0cc04;
}

span.deco.verde {
  border-bottom: 2px solid #a0cc04;
}

div.texto-quienes-somos p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  text-align: right;
  color: #193c4d;
}
div.vector-quienes-somos {
}
div.vector-quienes-somos img {
  width: 63vw;
  margin: 2.5vh calc(18vw - 16px) 2.5vh calc(18vw - 16px);
}

div.vector-quienes-somos span.desktop {
}
div.vector-quienes-somos span.desktop img {
  display: none;
}

/*---------- 
# Servicios
---------*/
div.servicios h3.seccion-azul {
  color: #193c4d;
  padding-top: 2vh;
}
span.deco.azul {
  border-bottom: 2px solid #193c4d;
}

div.servicios div.imagen-servicio img {
  width: 100%;
}

div.servicios div.texto-servicio1 {
  background-color: #193c4d;
}

div.servicios div.texto-servicio2 {
  background-color: #8fb409;
}

div.servicios div.texto-servicio3 {
  background-color: #9d9d9d;
}

div.servicios div.texto-servicio4 {
  background-color: #d2a25f;
}

div.servicios div.texto-servicio5 {
  background-color: #5591c8;
}
div.servicios h4.titulo-card-servicios {
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}

div.servicios p.texto-card-servicios {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  padding: 3vw 4vh;
}

/*--------- 
# Equipo
---------*/

div.equipo {
  background: #193c4d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3.seccion-blanco {
  color: #ffffff;
  padding-top: 2vh;
}

div.persona {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div.persona div.foto {
  background-color: #a0cc04;
  border-radius: 50%;
  padding: 0.75vh;
}
div.persona div.foto img {
  width: 10vh;
  border-radius: 50%;
}
div.persona div.info-de-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
div.persona div.info-de-contacto h6 {
  margin: 0;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  margin-top: 0.5vh;
  font-weight: 300;
}

div.persona div.info-de-contacto img {
  width: 3vh;
  margin: 0.75vh 0 2vh 0;
}

/*---------------- 
# Porque elegirnos
----------------*/

div.porque {
  background-color: rgba(196, 196, 196, 0.2);
}

div.porque div.porque-dato {
  display: flex;
}

div.porque div.porque-dato img {
  width: 15vw;
  margin-right: 3vw;
}

div.porque div.porque-dato p {
  line-height: 17px;
  color: #193c4d;
  text-align: left;
  font-size: 15px;
}

/*---------------- 
# Nuestros Clientes
----------------*/

div.clientes div.titulo-seccion h3 {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #193c4d;
  padding-left: 14px;
  padding-top: 2vh;
  font-weight: 600;
}
div.clientes div.logos img {
  width: 33.3vw;
}

/*---------------- 
# Contacto
----------------*/

div.contacto {
  background-color: #a0cc04;
}

div.contacto div.contacto-empresa {
  color: #fcfdfc;
}
div.contacto div.contacto-empresa a {
  color: #fcfdfc;
}
div.contacto div.contacto-empresa a p {
  font-size: 15px;
  color: #fcfdfc;
}

div.contacto div.mapa iframe {
  width: 70vw;
  height: 25vh;
  padding-bottom: 2.5vh;
}

/*---------------- 
# Footer
----------------*/

footer {
  background-color: #193c4d;
}
footer div.texto-footer {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #fcfdfc;
}
footer div.texto-footer p {
  padding-top: 5%;
}
footer div.texto-footer p:last-child {
  margin: 0;
  padding-bottom: 2.5%;
  padding-top: 0;
}
